/*---------- site ----------*/
$site-header-back: #eae0d2;
$site-footer-back: #0a7c91;
$site-footer-border: #fff;
$site-footer-color: #c4dce0;
/*---------- /site ----------*/

/*---------- text-wrap ----------*/
$text-wrap-title: #002731;
$text-wrap-title-2: #411095;
/*---------- /text-wrap ----------*/

/*---------- logo ----------*/
$logo-back: #006e89;
$logo-color: #fff;
/*---------- /logo ----------*/

/*---------- header-wrap ----------*/
$header-wrap-info: #c3b5a1;
$header-wrap-info-color: #2b1901;
/*---------- /header-wrap ----------*/

/*---------- menu ----------*/
$menu-color: #2b1901;
$menu-color-hover: #7c2000;
/*---------- /menu ----------*/

/*---------- forms ----------*/
$forms-back-1: #96c11f;
$forms-back-2: #006e89;
$forms-back-3: #efc502;
$forms-back-4: #f1f7e2;
$forms-color: #fff;
$forms-color-4: #3b2314;
$forms-border-4: #c1cc9c;
$forms-input-border-4: #c1cc9c;
$forms-border-call: #c9c9c9;
$forms-color-call: #411095;
$forms-color-phone: #fff;
$forms-back-phone: #efc502;
$forms-border-phone: #d99a04;
/*---------- /forms ----------*/

/*---------- callback ----------*/
$callback-phone: #2b1901;
$callback-phone-border: #665742;
/*---------- /callback ----------*/

/*---------- delivery ----------*/
$delivery-back: #ffba00;
$delivery-back-2: #3b2314;
$delivery-color-2: #fff;
/*---------- /callback ----------*/

/*---------- our-projects ----------*/
$our-projects-back: #604136;
$our-projects-color: #ffd08f;
/*---------- /our-projects ----------*/

/*---------- news-list ----------*/
$news-list-back: #f2edd7;
$news-list-title: #002731;
$news-list-title-decor: #5da615;
$news-list-title-color: #fff;
$news-list-topic: #478400;
$news-list-content: #676767;
/*---------- /news-list ----------*/

/*---------- interview ----------*/
$interview-back: #6ad8ec;
$interview-title-color: #fff;
$interview-title-decor: #0a7c91;
/*---------- /interview ----------*/

/*---------- stock ----------*/
$stock-back: #eff7fa;
$stock-title: #002832;
$stock-title-decor: #f00;
$stock-title-color: #fff;
$stock-item-back: #fff;
/*---------- /stock ----------*/

/*---------- popup ----------*/
$popup-back: rgba(112, 112, 112, 0.4);
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #002254;
$websters-select-popup-back: #002d6b;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #013d7d;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ac926f;
$btn-color: #fff;
$btn-1-back: #96c11f;
$btn-1-border: #604136;
$btn-2-back: #006e89;
$btn-2-border: #023f4e;
$btn-3-back: #96c11f;
$btn-3-border: #5e7d06;
$btn-4-back: #ff6000;
$btn-4-border: #c24d06;
$btn-6-back: #411095;
$btn-6-border: #200056;
$btn-7-back: #bed63a;
$btn-7-border: #849839;
$btn-7-color: #3b2314;
/*---------- /btn ---------*/

/*---------- service ----------*/
$service-color: #002731;
$service-border: #eee;
/*---------- /service ----------*/

/*---------- bulletin-board__item ----------*/
$bulletin-item-back: #fbf9f6;
$bulletin-item-border: #ffd08f;
$bulletin-item-border-bottom: #eae0d2;
$bulletin-item-color: #000;
$bulletin-name-color: #604136;
/*---------- /bulletin-board__item ----------*/

/*---------- camp ----------*/
$camp-site__title: #00568a;
/*---------- /camp ----------*/