.logo {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 50%;
  width: 143px;
  height: 62px;
  margin: 0 0 0 -59px;
}
.logo img {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-portrait) {
  .logo {
    top: 16px;
    left: 20px;
    margin: 0;
    width: 258px;
    height: 118px;
    z-index: 2;
  }
}

@media (min-width: $tablet-landscape) {

  .logo {
    top: 0;
    left: 23px;
    margin: 0;
    width: 341px;
    height: 154px;
    z-index: 2;
  }

}