.navigation {
  margin-bottom: 18px;
  padding: 5px 10px;
  background-color: #f5fae9;
  font-size: 14px;

  li{
    margin-bottom: 19px;
  }

  &__item{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 49px;
    color: #232323;
    text-decoration: underline;
    padding: 5px 5px 5px 38px;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: -100% -100%;
    transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;

    &_1{
      background-image: url('../img/nav-icon-001.png');

      &:before{
        background-position: 8px 7px;
      }

      &:after{
        background-position: 9px -39px;
      }

    }

    &_2{
      background-image: url('../img/nav-icon-002.png');

      &:before{
        background-position: 1px 1px;
      }

      &:after{
        background-position: 2px -39px;
      }

    }

    &_3{
      background-image: url('../img/nav-icon-003.png');

      &:before{
        background-position: 1px 1px;
      }

      &:after{
        background-position: 2px -39px;
      }

    }

    &_4{
      background-image: url('../img/nav-icon-004.png');

      &:before{
        background-position: 0 5px;
      }

      &:after{
        background-position: 0 -27px;
      }

    }

    &_5{
      background-image: url('../img/nav-icon-005.png');

      &:before{
        background-position: 4px 4px;
      }

      &:after{
        background-position: 4px -29px;
      }

    }

    &_6{
      background-image: url('../img/nav-icon-006.png');

      &:before{
        background-position: 4px 8px;
      }

      &:after{
        background-position: 4px -19px;
      }

    }

    &_7{
      background-image: url('../img/nav-icon-007.png');

      &:before{
        background-position: 2px 5px;
      }

      &:after{
        background-position: 2px -31px;
      }

    }

    &_8{
      background-image: url('../img/nav-icon-008.png');

      &:before{
        background-position: 2px 6px;
      }

      &:after{
        background-position: 2px -23px;
      }

    }

    &_9{
      background-image: url('../img/nav-icon-009.png');

      &:before{
        background-position: 4px 2px;
      }

      &:after{
        background-position: 4px -34px;
      }

    }
    &_10{
      background-image: url('../img/nav-icon-sprite.png');

      &:before{
        background-position: 0 2px;
      }

      &:after{
        background-position: -28px 2px;
      }

    }
    &_11{
      background-image: url('../img/nav-icon-sprite.png');

      &:before{
        background-position: 0 -53px;
      }

      &:after{
        background-position: -28px -53px;
      }

    }
    &_12{
      background-image: url('../img/nav-icon-sprite.png');

      &:before{
        background-position: 0 -109px;
      }

      &:after{
        background-position: -28px -109px;
      }

    }
    &_13{
      background-image: url('../img/nav-icon-sprite.png');

      &:before{
        background-position: 0 -163px;
      }

      &:after{
        background-position: -28px -163px;
      }

    }
    &_14{
      background-image: url('../img/nav-icon-sprite.png');

      &:before{
        background-position: 0 -218px;
      }

      &:after{
        background-position: -28px -218px;
      }

    }
    &_15{
      background-image: url('../img/nav-icon-sprite.png');

      &:before{
        background-position: 0 -272px;
      }

      &:after{
        background-position: -28px -272px;
      }

    }
    &_16{
      background-image: url('../img/nav-icon-sprite2.png');

      &:before{
        background-position: 3px 2px;
      }

      &:after{
        background-position: -23px 2px;
      }

    }
    &_17{
      background-image: url('../img/nav-icon-sprite2.png');

      &:before{
        background-position: 3px -68px;
      }

      &:after{
        background-position: -23px -68px;
      }

    }
    &_18{
      background-image: url('../img/nav-icon-sprite2.png');

      &:before{
        background-position: 3px -139px;
      }

      &:after{
        background-position: -23px -139px;
      }

    }
    &_19{
      background-image: url('../img/nav-icon-sprite2.png');

      &:before{
        background-position: 3px -203px;
      }

      &:after{
        background-position: -23px -203px;
      }

    }
    &_20{
      background-image: url('../img/nav-icon-sprite2.png');

      &:before{
        background-position: 3px -267px;
      }

      &:after{
        background-position: -23px -267px;
      }

    }
    &_21{
      background-image: url('../img/nav-icon-sprite2.png');

      &:before{
        background-position: 3px -334px;
      }

      &:after{
        background-position: -23px -334px;
      }

    }

    &:before, &:after{
      position: absolute;
      top: 50%;
      left: 2px;
      width: 30px;
      height: 31px;
      background-image: inherit;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      /*transition: all .3s ease;
      -webkit-transition:all .3s ease;*/
      content: '';
    }

    &:after{
      opacity: 0;
    }

  }

}
.navigation .active{
  text-decoration: none;
}
.navigation_2{
  background-color: #f5f2e5;
}
.navigation_3{
  background-color: #edeee9;
}
.navigation_2 .navigation__item{

  &:hover{
    background-color: #411095;
    color:#fff;

    &:before{
      opacity: 0;
    }

    &:after{
      opacity: 1;
    }

  }

}
.navigation_3 .navigation__item{

  &:hover{
    background-color: #3b2314;
    color:#fff;

    &:before{
      opacity: 0;
    }

    &:after{
      opacity: 1;
    }

  }

}
.navigation_4 .navigation__item{

  &:hover{
    background-color: #006e89;
    color:#fff;

    &:before{
      opacity: 0;
    }

    &:after{
      opacity: 1;
    }

  }

}
.navigation .active{
  background-color: #82ae0b;
  color:#fff;

  &:before{
    opacity: 0;
  }

  &:after{
    opacity: 1;
  }
}
.navigation_2 .active{
  background-color: #411095;
  color:#fff;

  &:before{
    opacity: 0;
  }

  &:after{
    opacity: 1;
  }
}
.navigation_3 .active{
  background-color: #3b2314;
  color:#fff;

  &:before{
    opacity: 0;
  }

  &:after{
    opacity: 1;
  }
}

.navigation_4 .active{
  background-color: #006e89;
  color:#fff;

  &:before{
    opacity: 0;
  }

  &:after{
    opacity: 1;
  }
}

@media (min-width: $desktop) {

  .navigation__item{

    &:hover{
      background-color: #95c11f;

      &:before{
        opacity: 0;
      }

      &:after{
        opacity: 1;
      }

    }

  }
  .navigation_2 .navigation__item{

    &:hover{
      background-color: #411095;
      color:#fff;

      &:before{
        opacity: 0;
      }

      &:after{
        opacity: 1;
      }

    }

  }
  .navigation_3 .navigation__item{

    &:hover{
      background-color: #3b2314;
      color:#fff;

      &:before{
        opacity: 0;
      }

      &:after{
        opacity: 1;
      }

    }

  }

  .navigation_1{

    .navigation__item:hover{
      color: #fff;
      background-color: #006e89;
    }

  }

}